body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(36, 36, 36);
  font-family: 'Oswald', sans-serif;
}
h1{
  color:white;
}
h3{
  color:white;
}

p{
  color:greenyellow;
}
.information{
  position: relative; 
  padding: 10px;
}

.warning{
  position:absolute;
}